/*
您可以在此处加入您的CSS。

点击上方的帮助图标来了解更多。
*/
body {
  color: #333;
  background: #F5F5F5;
}

body, button, input, select, textarea {
  font-family: SF Pro SC,SF Pro Display,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
}

p {
  margin: 0 0 0.5em;
}

pre {
  border: 1px solid #d1d1d1;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 14px;
  font-size: 0.85em;
  line-height: 1.6;
  color: #666;
  background-color: #fbfbfb;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-summary h1, .entry-summary h2, .entry-summary h3, .entry-summary h4, .entry-summary h5, .entry-summary h6, .comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6, .textwidget h1, .textwidget h2, .textwidget h3, .textwidget h4, .textwidget h5, .textwidget h6 {
  font-weight: 400;
}

.entry-content ul, .entry-summary ul, .comment-content ul, .entry-content ol, .entry-summary ol, .comment-content ol {
  margin-left: 1.4em;
}

body:not(.search-results) article:not(.type-page) img.below-entry-meta, body:not(.search-results) article:not(.type-page) figure.below-entry-meta {
  margin-left: 0;
  max-width: 100%;
}

.site-title {
  font-family: SF Pro SC,SF Pro Display,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 600;
  line-height: 1.35;
}

p.site-title , h1.site-title{
  padding-right: 0.8em;
}

.site-header{
	padding: 2.25em 4.5455%;
}

.entry-title {
  font-size: 32px;
  font-size: 2rem;
  font-family: SF Pro SC,SF Pro Display,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 200;
}

.site-header-main, .site-header-menu, .no-sidebar .entry-header, .no-sidebar .entry-content, .no-sidebar .entry-summary, .no-sidebar .entry-footer, .no-sidebar .comments-area, .no-sidebar .image-navigation, .no-sidebar .post-navigation, .no-sidebar .pagination, .no-sidebar .page-header, .no-sidebar .page-content, .no-sidebar .content-bottom-widgets {
	  margin-right: 5%!important;
    margin-left: 5%!important;
}
body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content{
	width: 90%;
}

img.border, div.border img, figure.border img{
	border: 1px solid #e5e6e7
}

.entry-summary {
  font-family: SF Pro SC,SF Pro Display,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 200;
}

.entry-content {
  color: #686868;
  font-family: SF Pro SC,SF Pro Display,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.site-main > article{
	margin-bottom: 0px!important;
}

.entry-footer {
  font-family: inherit;
	display: none;
}

.main-navigation {
  font-family: SF Pro SC,SF Pro Display,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
  font-weight: 600;
}

.pagination {
  border-top: 1px solid #e8e8e8;
}

.post-navigation {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
	margin-top: 3.5em;
}

.post-navigation div + div {
  border-top: 1px solid #e8e8e8;
}

.post-navigation .post-title {
  font-family: SF Pro SC,SF Pro Display,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 200;
}

.widget .widget-title {
  font-size: 12px;
  font-weight: 200;
  font-family: inherit;
}

.widget, .page-header{
  border-top: 1px solid #e8e8e8;
}

.widget_links ul li a, .widget_meta ul li a{
  color: #666;
}

.widget_links ul li a:hover, .widget_meta ul li a:hover{
  color: #007acc;
}

.site-info {
		margin: 0 auto;
	}

hr {
	margin: 0.85em 0 0.85em;
}

.wp-caption img[class*="wp-image-"] {
    border: 1px solid #d1d1d1;
}
